<app-header></app-header>
<br>
<div class="container">
<div class="h1 text-center" ><b><marquee>Welcome to Electricity Billing System</marquee></b></div>
</div>
<app-slider></app-slider>
<div class="container">
    <div class="row">
        <div class="textadd">
            <h5 style="background-color:rgb(156, 191, 210) ; margin-top: 30px; border-radius: 30px;padding: 30px;">
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique libero error labore quas maxime placeat fugiat aliquid ipsa reprehenderit et! Repudiandae illo voluptas,
                 dolor quisquam adipisci vitae ut debitis cupiditate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus ducimus molestias ipsum totam nobis quis minus aliquam cumque sapiente. Quo ex voluptatem soluta quae vero odio beatae rem aspernatur? -->
                 <!-- Please note that this page also provides links to the websites / web pages of Govt. Ministries/Departments/Organisations.The content of these websites are owned by the respective organisations and they may be contacted for any further information or suggestion -->
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Simplify Your Billing Process: Discover Our Smart Electricity Management Solutions"<br>
                 "Explore website to efficiently manage your electricity bills and gain valuable insights into your energy consumption. Connect with us for personalized assistance and stay updated with the latest developments in energy management technology."

                </h5>
        </div>
    </div>
</div>
<app-homedesh></app-homedesh>
 <!-- <app-footer></app-footer>  -->