<!-- <app-header></app-header> -->
<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Registration Successfull!!</strong> New Customer Register Successfully
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="masthead bg-primary" style="background-image: url('../assets/images/Card/bulb.webp');">
    <div class="container"> -->
       
    <!-- <form [formGroup]="registerform" (ngSubmit)="registerSubmited()"  class="p-3 bg-transparent text-dark "><br>
        <div class="text-center">
            <img src="../assets/images/loginpng.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="100px" alt="profile">
          </div>
         
        <div class="=row g-0">
            <div class="col text-center p-2 mb-3 text-white bg-dark">
                <span class="fs-3">Customer Registration</span>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="name" class="form-label text-white" >Name</label>
                <input type="text" placeholder="Enter your name" class="form-control" id="name" formControlName="name" >
                <div class="form-text text-danger" *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
                    Name Required 
                </div>
                <div class="form-text text-danger" *ngIf="name.errors?.['minlength'] && (name.touched || name.dirty)">
                    Name is too Short
                </div>
                <div class="form-text text-danger" *ngIf="name.errors?.['pattern'] && (name.touched || name.dirty)">
                    Name should be Alphabet Only
                </div>
            </div>
            <div class="col mb-3">
                <label for="email" class="form-label text-white">Email</label>
                <input type="text" placeholder="Enter your email (Ex- @gmail.com)" class="form-control" id="email" formControlName="email" >
                <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                    Email Required 
                </div>
                <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
                    Email is Invalid
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="mobile" class="form-label text-white">Mobile Number</label>
                <input type="text" placeholder="Enter your number" class="form-control" id="mobile" formControlName="mobile" >
                <div class="form-text text-danger" *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty)">
                    Mobile Number Required 
                </div>
                <div class="form-text text-danger" *ngIf="mobile.errors?.['pattern'] && (mobile.touched || mobile.dirty)">
                    Number is Invalid 
                </div>
                <div class="form-text text-danger" *ngIf="mobile.errors?.['minlength'] && (mobile.touched || mobile.dirty)">
                    Number is Short
                </div>
                <div class="form-text text-danger" *ngIf="mobile.errors?.['maxlength'] && (mobile.touched || mobile.dirty)">
                    Number is Long
                </div>
            </div>
            <div class="col mb-3">
                <div class="col mb-3">
                    <label for="address" class="form-label text-white">Address </label>
                    <input type="text" placeholder="Enter Your Address" class="form-control" id="address" formControlName="address" >
                    <div class="form-text text-danger" *ngIf="address.errors?.['required'] && (address.touched || address.dirty)">
                        Address Required 
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="password" class="form-label text-white">Password</label>
            <input type="password" placeholder="Enter your password" class="form-control" id="password" formControlName="password" >
            <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
                Password Required 
            </div>
            <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['minlength'] && (password.touched || password.dirty)">
                Password Should be at least 6 and at the max 15 Characters long
            </div>
            </div>
        </div>
        
        <br>
        <div class="row ">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button  type="submit" [disabled]="registerform.invalid" class="btn btn-primary" >Submit</button>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
        <a style="color:aliceblue">Already have an account </a> 
        <a routerLink="/login">Click Here</a> <br>
    </div>
 <div class="form-footer"> <div class="btn btn-success" routerLink='/home'>Go Back </div><br><br>
</div>
</form> -->
     
<!-- </div>
</div> -->
