<div class="container" >

    
   
        
     
    <section class="masthead bg-light d-flex justify-content-center align-items-center h-50 min-vh-50" >
      
    <div class="container" >
        <div class="row gy-3 ">
            <div class=" col ">
                <div class="box  h-100 d-flex p-4 flex-column text-white" >
                    <img class="card-img-top" src="../assets/images/Card/card1.jpeg" alt="image" height="250" width="150px">
                    <div class="card-body"> 
                      <!-- <h5 class="card-title text-dark">Customer</h5> -->
                    </div>
                </div>
            </div>

            <div class=" col ">
                <div class="box  h-100 d-flex p-4 flex-column text-white" >
                    <img class="card-img-top" src="../assets/images/Card/card2.jpeg" alt="image" height="250px" width="150px">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Customer</h5> -->
                     
                    </div>
                </div>
            </div>

            <div class=" col ">
                <div class="box bg-outline-dark h-100 d-flex p-4 flex-column text-white" >
                    <img class="card-img-top" src="../assets/images/Card/card3.jpg" alt="image" height="250px" width="150px">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Customer</h5> -->
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  
 </section>
 <br><br>
 <app-empty></app-empty>



</div>