<!-- 
<footer class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center py-3" style="color: rgb(235, 232, 232);">© 2020 Copyright:
      <a > Electricity Billing System</a>
    </div>
  </footer> -->


  <!--FOOTER-->
<div class="footer">
  <div class = "container">
      <div class="row">
          <div class="col-lg-5 text-white">
              <span class="logo">
                 <h1> <mat-icon> </mat-icon>Electricity Bill Management</h1>

                
              </span>
              <br>
              <img src="https://i.pinimg.com/originals/1d/74/3b/1d743bb41490128be1b2a0edc8a3e000.jpg" class="img-fluid profile-image-pic img-thumbnail "
            width="150px" alt="profile">
              <!-- <p class="logo_text"></p> -->
          </div>
          <div class="col-lg-2 col-6 p-3 text-white"><h2>Useful Links</h2>
              <ul class="remove-bullet footer-links">
                  <li><a href="#">Privacy of Policy</a></li>
                  <li><a href="#">Services</a></li>	
                  <li><a href="#">Terms of services</a></li>	
                    
              </ul>
          </div>
          <div class="col-lg-2 col-6 p-3 text-white "><h2>Our Services</h2>
              <ul class="remove-bullet">
                  <li><a href="#">Online Bill Payment</a></li>	
                  <li><a href="#">Invoice</a></li>	
                  <li><a href="#">Bill View</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start p-3"><h2>Contact Us</h2>
              <address>
                  Airoli<br>
                  Navi Mumbai, <br>
                  India<br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> billingCenter&#64;gmail.com
              </address>
          </div>
      </div>
  </div>
  <div class="copy_right">© Copyright Logis. All Rights Reserved</div>
  <div class="designed">Designed by BootstrapMade</div>
</div>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center active"><i class="fa fa-arrow-up"></i></a>



  
