<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box" style="margin-left: 85px;">
			<div class="left"></div>
			<div class="right">
				<h1><b> Let's Have A Talk</b></h1>
                <br>
				<h3>ELECTRICITY BILLING SYSTEM</h3>
				<br>
				
                <b>Share Your Excitement with Us : </b><br> electricitybillingsystem@gmail.com
                <br>
				
                <br><b>Contact No:-</b> 12341234123<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09876543211
				<br>
				<br>
			</div>
		</div>
	</div>
</body>
</html>
