<!-- <app-navbar></app-navbar> -->
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->

<!-- <app-header></app-header> -->
<!-- user {{user}} -->

<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0e1d34;">
    <a class="navbar-brand" style="color: white;">Electricity Billing System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-success mx-1" aria-current="page" routerLink="/home">Home</a>
         </li>
        <li class="nav-item active">
          <a class="btn btn-outline-success mx-1" aria-current="page" routerLink="/login">Login</a>
         </li>
         <li>
         <a class="btn btn-outline-success mx-1" aria-current="page" routerLink="/register">register</a>
        </li>
         <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> 
         <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      <!-- </ul> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    <!-- </div>
  </nav> -->
  








        
<!-- <app-home></app-home>  -->
<!-- <app-slider></app-slider> -->
<!-- <app-homedashboardcard></app-homedashboardcard> -->

<!-- <app-homedesh></app-homedesh>  -->



<!-- 
Footer
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-white">
                <span class="logo">
                    <h1>Elecricity Bill Management</h1>
                </span>
                <br>
                <img src="https://i.pinimg.com/originals/1d/74/3b/1d743bb41490128be1b2a0edc8a3e000.jpg" class="img-fluid profile-image-pic img-thumbnail" width="150px" alt="profile">
            </div>
            <div class="col-lg-2 col-6 p-3 text-white">
                <h2>Useful Links</h2>
                <ul class="remove-bullet footer-links">
                    <li><a href="#">Privacy of Policy</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of services</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 p-3 text-white ">
                <h2>Our Services</h2>
                <ul class="remove-bullet">
                    <li><a href="#">Online Bill Payment</a></li>
                    <li><a href="#">Invoice</a></li>
                    <li><a href="#">Bill View</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start p-3">
                <h2>Contact Us</h2>
                <address>
                    Airoli<br>
                    Navi Mumbai, <br>
                    India<br><br>
                    <strong>Phone:</strong> +91 95555 55555 <br>
                    <strong>Email:</strong> billingCenter&#64;gmail.com
                </address>
            </div>
        </div>
    </div>
    <div class="copy_right">© Copyright Logis. All Rights Reserved</div>
    <div class="designed">Designed by BootstrapMade</div>
</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center active"><i class="fa fa-arrow-up"></i></a> -->
