
        /* CSS for card layout */
        .user-cards {
            display: flex;
        }

        .user-card {
            flex: 1 1 70%; /* Adjust the width */
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .card-header {
            background-color: #f0f0f0;
            padding: 10px;
        }

        .card-body {
            padding: 10px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .button-group {
            margin-top: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 22px); /* Adjust the width */
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .action-button {
            margin-right: 5px;
        }

        .edit-button {
            background-color: #3498db;
            color: #fff;
        }

        .delete-button {
            background-color: #e74c3c;
            color: #fff;
        }

        .user-table {
            width: 100%;
            border-collapse: collapse;
        }

        .user-table th,
        .user-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .user-table th {
            background-color: #f2f2f2;
        }

        .user-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .user-table tr:hover {
            background-color: #ddd;
        }

    