<div class="container">
    <div class="p">The aim of project is to develop a system that is meant to partially computerize the work performed in the Electricity Board like generating monthly electricity bill, record of consuming unit of energy, store record of the customer and previous unpaid record.
        <br>The main objective of the Electricity Billing System is to manage the details of Electricity,Bill,Connections,Store Record,Customer. It manages all the information about Electricity, Electricity Board, Customer, Electricity.<br>
        The main aim for developing this module is to manage the bill. This bill module is the main module in this project Electricity Billing System. So all bill will be managed by admin. It tracks all the information of the bill. 
    </div>
</div>



