.p{
    text-align: left;
    /* background-color: rgb(88, 94, 94); */
    text-decoration:antiquewhite;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }